.App {
  text-align: center;
}

#pokerTable {
  height: 400px;
  width: 50%;
  background-color: green;

  position: absolute;
  z-index: -1;
  margin-left: 25%;
  margin-top: 200px;
}

#dealCardsButton {
  height: 30px;
  width: 100px;
  margin-left: 35%;
  margin-top: 550px
}

#card {
  height: 150px;
  width: 100px;
  background-color: white;
  border: black 1px solid;
  position: absolute;

  margin-left: 50%;
  margin-top: 550px
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
