#card {
    height: 105px;
    width: 82px;
    background-color: white;
    border-radius: 3px;
    border: black 1px solid;
  
    margin-left: 2px;
  }

#miniCard {
    height: 50px;
    width: 20px;
    background-color: white;
    border-radius: 3px;
    border: black 1px solid;

    margin-left: 2px;
    }

#top {
    left: 2%;
    width: 10%;
    position: relative;
}

#middle {
    font-size: 24px;
    top: 16%;
    position: relative;
}

#bottom {    
    top: 8%;
    left: 85%;
    width: 10%;
    position: relative;
}